<div class="4u">
<section>
  <header>
    Comparte en:
  </header>

      <a href="https://twitter.com/intent/tweet?text={{ page.title }}&url={{ site.url }}{{ page.url }}&via={{ site.twitter_username }}&related={{ site.twitter_username }}" class="fa fa-twitter-square" rel="nofollow" target="_blank" title="Share on Twitter"></a>
      <a href="https://facebook.com/sharer.php?u={{ site.url }}{{ page.url }}" class="fa fa-facebook-square" rel="nofollow" target="_blank" title="Share on Facebook"></a>
      <a href="https://plus.google.com/share?url={{ site.url }}{{ page.url }}" class="fa fa-google-plus-square" rel="nofollow" target="_blank" title="Share on Google+"></a>
      <a href="http://pinterest.com/pin/create/button/?url={{ site.url }}{{ page.url }}" class="fa fa-pinterest-square" rel="nofollow" target="_blank" title="Share on Pinterest"></a>
      <a href="whatsapp://send?text={{ site.url }}{{ page.url }}" class="fa fa-whatsapp" rel="nofollow" target="_blank" title="Share on Whatsapp"></a>
</section>
</div>
