---
title: Blog
layout: default
---

<div id="main">
  <div class="container">
    <div class="row">

  <!-- Content  -->
    <div id="content" class="8u skel-cell-important">
      {% for post in paginator.posts %}
        <section class="image">
        <a href="{{ site.prefix }}{{ post.url }}" class="image small"><img src="/assets/{{ post.featured }}" alt="post.title"></a>
        <header>
          {% assign authorCount = post.authors | size %}
          <!-- <p class="posted"> <strong>{{post.title}}</strong> | {{ post.date | date_to_string }}  |  {{site.authors[post.authors].name }} | {{authorCount}}</p> -->
          <ul class="default">
            <li2>
                <a href="{{ site.prefix }}{{ post.url }}"> {{post.title}}</a>
            </li2>
          </ul>
          {% if authorCount == 0 %}
            <p class="posted>"> | {{ post.date | date_to_string }} </p>
          {% elsif authorCount == 1 %}
          {% assign firstAuthor = post.authors | first %}
          <!-- <p class="posted"> <strong>{{post.title}}</strong> </p> -->
          <p class="posted>"> {{ post.date | date_to_string }}  |  {{site.authors[firstAuthor].name }}</p>
          {% else %}
          <!-- <p class="posted"> <strong>{{post.title}}</strong> </p> -->
          <p class="posted">  {{ post.date | date_to_string }}  |
              {% for author in post.authors %}
                  {% if forloop.first %}
                      {{ site.authors[author].name}}
                  {% elsif forloop.last %}
                      y {{ site.authors[author].name }}
                  {% else %}
                  , {{ site.authors[author].name }}
                  {% endif %}
              {% endfor %}
          </p>
         {% endif %}


          <!-- <p><a href="{{ site.prefix }}{{ post.url }}">{{ post.excerpt | remove: '<p>' | remove: '</p>' }}</a></p> -->
        </header>
        <p> {{ post.excerpt }} </p>
      </section>
      {% endfor %}
    </div>
    {% include sidebar_blog.html %}
  </div>

  <!-- Pagination links -->
  <div class="pagination">
  {% if paginator.previous_page %}
  <!-- <a href="#" class="button button-style1">Más detalles</a> -->

  <!-- <span class="page_number ">Página: {{ paginator.page }} of {{ paginator.total_pages }} </span> -->
  <a href="{{ paginator.previous_page_path }}" class="button button-style1">Anterior</a>
  {% else %}
  <!-- <span class="button button-style1">Anterior</span> -->
  {% endif %}
  {% if paginator.next_page %}
  <a href="{{ paginator.next_page_path }}" class="button button-style1">Siguiente</a>
  {% else %}
  <!-- <span class="button button-style1 ">Siguiente</span> -->
  {% endif %}
  </div>

</div>
</div>
